.login-form-container {
    margin: 80px;
    background-color: #dfe6e9;
    border: 1px solid #ffffff;
    border-radius: 20px;
    padding: 40px 70px;
}

.error-alert {
    margin-top: 10px;
    text-align: center;
    border: 2px solid #ff7675;
    color: #ff7675;
    font-weight: bold;
}

.error-alert p {
    padding-top: 7px;
}

@media (max-width : 500px) {
    .login-form-container {
        padding: 40px 50px;
    }
}
