/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(90deg, #34495e, #55efc4);
    height: 100vh;
    overflow-y: scroll;
}
